<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <div class="container">
        <form method="POST" action="/signup" class="form-grid">
            <h1>Create Account</h1>
            <p>Register with your personal details to use all of the site features</p>
            <div class="input-grid">
                <input type="text" name="last" placeholder="Last Name" required>
                <input type="text" name="number" placeholder="Contact Number" required>
                <input type="text" name="first" placeholder="First Name" required>
                <input type="text" name="emernumber" placeholder="Emergency Number" required>
                <input type="text" name="middle" placeholder="Middle Name" required>
                <input type="text" name="address" placeholder="Address" required>
                <input type="date" name="dob" placeholder="Date of Birth" required>
                <input type="email" name="email" placeholder="Email" required>
                <select id="gender" name="gender" class="styled-select" required>
                    <option value="" disabled selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Feamle">Female</option>      
                </select>
                <input type="text" name="idnum" placeholder="ID Number" required>
                <select id="status" name="status" class="styled-select" required>
                    <option value="" disabled selected>Marital Status</option>
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Widowed">Widowed</option>      
                </select>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit" id="register" name="register">Sign Up</button>
            <p>Already have an account? <a href="/signin" class="signin">Sign In</a></p>
        </form>
    </div>

    <script src="/script/signup.js"></script>
</body>
</html>
